{namespace v=FluidTYPO3\Vhs\ViewHelpers}


<f:layout name="Default" />
<f:section name="main">
	<f:if condition="{etikettes}">
		<f:then>

			<table class="tx_adesextension1">
				<tr>
					<th></th>
					<f:if condition="{dontshoweGroesse}">
						<th>Grösse (BxH)</th>
					</f:if>
					<f:if condition="{dontshowetikettenfarbe}">
						<th>Farbe</th>
					</f:if>
					<f:if condition="{dontshowKlebstoff}">
						<th>Klebstoff

						</th>
					</f:if>
					<f:if condition="{dontshowEtikettenrolle}">
						<th>Etik./Rolle
						</th>
					</f:if>
					<f:if condition="{dontshowMterial}">
						<th>Material
					</f:if>
					<f:if condition="{dontshowFarbbandtyp}">
						<th>Farbband
					</f:if>
					<f:if condition="{dontshowkern}">
						<th>Kern
					</f:if>
					<f:if condition="{dontshowBemerkungen}">
						<th>Bemerkungen</th>
					</f:if>
					<f:if condition="{dontshowArtikelnummer}">
						<th>Art.-Nr.</th>
					</f:if>
				</tr>

				<f:for each="{etikettes}" as="etikette">
					<tr>

						<td style="align: center;">

							<f:if condition="{etikette.overlaytext}">
								<div class="infoOverlay">
									<a href="javascript:void(0)" class="info_modal_link" id="{etikette.artikelnummer}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>

									<div class="modal fade info_modal" id="info{etikette.artikelnummer}" tabindex="-1" role="dialog" aria-labelledby="info{etikette.artikelnummer}Label" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #039;">&times;</span></button>
												</div>



												<div class="modal-body">

													<style>
														body.modal-open {
    													overflow: visible !important;
														}
													</style>

													<div class="overlay_text">
														<div class="">
															<f:image image="{etikette.overlayimage}" width="800c" height="485c" alt="" treatIdAsReference="1" />

														</div>
														<div class="">
															<f:format.html>{etikette.overlaytext}</f:format.html>
														</div>
													</div>

													<f:comment>

														<div class="modal-body">
															<div class="overlay_text">
																<div class="row">

																	<div class="col-sm-4">
																		<f:image image="{etikette.overlayimage}" width="480" height="480c" alt="" class="img-responsive" treatIdAsReference="1" />
																	</div>
																	<div class="col-sm-8">
																		<f:format.html>{etikette.overlaytext}</f:format.html>
																	</div>
																</div>
															</div>
														</f:comment>

													<p>
														<f:if condition="{etikette.overlaylink}">
															<f:link.typolink parameter="{etikette.overlaylink}" target="_blank">
																<f:if condition="{etikette.overlaylinktext}">
																	<f:then>
																		{etikette.overlaylinktext}
																	</f:then>
																	<f:else>
																		{v:page.info(pageUid : '{etikette.overlaylink}', field: 'title')}
																	</f:else>
																</f:if>
															</f:link.typolink>
														</f:if>
													</p>

													</div>

												</div>
											</div>
										</div>
									</div>
							</f:if>

						</td>

						<f:if condition="{dontshoweGroesse}">
							<td>{etikette.groesse.groesse}</td>
						</f:if>
						<f:if condition="{dontshowetikettenfarbe}">
							<td>{etikette.etikettenfarbe.name}</td>
						</f:if>
						<f:if condition="{dontshowKlebstoff}">
							<td>{etikette.klebstoff.name}</td>
						</f:if>
						<f:if condition="{dontshowEtikettenrolle}">
							<td>{etikette.etikettenrolle}</td>
						</f:if>
						<f:if condition="{dontshowMterial}">
							<td><a style="color: #003399;text-decoration: none;" href="{etikette.material.fileinfo.publicUrl}" target="_blank" title="{etikette.material.name}">{etikette.material.name}</a></td>
						</f:if>
						<f:if condition="{dontshowFarbbandtyp}">
							<td>{etikette.farbbandtyp}</td>
						</f:if>
						<f:if condition="{dontshowkern}">
							<td>{etikette.kern.kern}</td>
						</f:if>
						<f:if condition="{dontshowBemerkungen}">
							<td>{etikette.bemerkungen}</td>
						</f:if>
						<f:if condition="{dontshowArtikelnummer}">
							<td>{etikette.artikelnummer}</td>
						</f:if>
					</tr>
				</f:for>

			</table>
			<script type="text/javascript">
			</script>
		</f:then>
		<f:else>
			<p>Leider sind keine Etiketten mit den gewünschten Kriterien vorhanden. Bitte ändern sie Ihre Suchanfrage.</p>
		</f:else>
	</f:if>
</f:section>
