<f:layout name="Default" />
This Template is responsible for creating a table of domain objects. If you modify this template, do not forget to change the overwrite settings in /Configuration/ExtensionBuilder/settings.yaml: Resources: Private: Templates: List.html: keep Otherwise
your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <script type="text/javascript" languange="Javascript">
    function changer() {
      document.getElementById("farbband_select1").selectedIndex = 0;
      document.getElementById("farbband_select2").selectedIndex = 0;
      document.getElementById("farbband_select3").selectedIndex = 0;
    }

    $(document).ready(function() {

      $('#myTab li').on("click", function() {
        var id = $(this).attr('class').split(" ")[0];
        $("#" + id).find("form").each(function() {
          var actiion = $(this).attr("action");
          var n = actiion.indexOf(id);
          if (n <= 0) {
            // var action1 = actiion.split("#");
            var newaction = actiion + '#' + id;
            $(this).attr("action", newaction);
          }
        });
      });
    });



    // $(function()
    //                    {
    //                      $('a[data-toggle="tab"]').on('shown', function () {
    //                        //save the latest tab; use cookies if you like 'em better:
    //                        localStorage.setItem('lastTab', $(this).attr('href'));
    //                       });
    //                      $('.artikel').removeClass('hideTab');
    //                      $('.details').removeClass('hideTab');
    //                      $('.zubehor').removeClass('hideTab');
    //                      //$('.zubehor').addClass('active');
    //                      $('.datenblatt').removeClass('hideTab');
    //                      $('.video').removeClass('hideTab');
    //                      $('.download').removeClass('hideTab');
    //                      //go to the latest tab, if it exists:
    //                      var lastTab = localStorage.getItem('lastTab');
    //                      if (lastTab) {
    //                         $('a[href=' + lastTab + ']').tab('show');
    //                      }
    //                      else
    //                      {
    //                        // Set the first tab if cookie do not exist
    //                        $('a[data-toggle="tab"]:first').tab('show');
    //                      }
    //                  });
  </script>


  <f:flashMessages renderMode="div" />
  <div class="moreinfo" style="width: 65%;float: right;"><span>
	<f:format.html>{zusatzinfo}</f:format.html>
</span>
  </div>
  <div class="tx-adesextension1 ades-search">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-xs-12">

        <f:form action="list"  controller="Farbband" name="suchfarbband" style="" noCache="1" section="medien">
          <h2>Material</h2>
          <f:form.select id="farbband_select1" name="Filtermaterial" options="{uniquematerial}" prependOptionLabel="Alle" value="{savedvalues.farbband.Filtermaterial}" />
          <h2>Farbe</h2>
          <f:form.select id="farbband_select2" name="Filtercolor" options="{uniquecolors}" prependOptionLabel="Alle" value="{savedvalues.farbband.Filtercolor}" />
          <h2>Grösse</h2>
          <f:form.select id="farbband_select3" name="Filtergroesse" options="{uniquegroesse}" prependOptionLabel="Alle" value="{savedvalues.farbband.Filtergroesse}" />

          <f:if condition="{showArtNoField}">
            <p>oder Suche nach</p>
            <h2>Artikelnummer</h2>
            <f:form.textfield name="artikelnummer" value="{savedvalues.farbband.artikelnummer}" />
          </f:if>

          <br><br>
          <f:form.button type="submit">Anzeigen</f:form.button>
          <f:form.button type="button" onclick="changer()">Auswahl-Reset</f:form.button>
        </f:form>
        <br>
      </div>
    </div>
  </div>
  </div>
  <br>
  <br>

  <f:if condition="{savedvalues.farbband}">
    <f:then>
      <f:if condition="{farbbands.0.artikelnummer}">
        <f:then>
          <table class="tx_adesextension1">
            <tr>
              <th>Material</th>
              <th>Farbe</th>
              <th>Grösse</th>
              <th>Rolle/Pack</th>
              <th>Bemerkungen</th>
              <th>Art.-Nr.</th>
            </tr>

            <f:for each="{farbbands}" as="farbband">
              <tr>
                <td>{farbband.etikettenmaterial.name}</td>
                <td>{farbband.farbe.name}</td>
                <td>{farbband.groesse.name}</td>
                <td>{farbband.rollepack}</td>
                <td>{farbband.bemerkungen}</td>
                <td>{farbband.artikelnummer}</td>
              </tr>
            </f:for>
          </table>
        </f:then>
        <f:else>
          <p>Leider sind keine Farbbänder mit den gewünschten Kriterien vorhanden. Bitte ändern sie Ihre Suchanfrage.</p>
        </f:else>
      </f:if>
    </f:then>
  </f:if>
</f:section>
