<f:layout name="Default" />
<f:section name="main">
	<table class="tx_adesextension1">
		<tr>
			<th>Material</th>
			<th>Farbe</th>
			<th>Grösse</th>
			<th>Rolle/Pack</th>
			<th>Bemerkungen</th>
			<th>Art.-Nr.</th>
		</tr>

		<f:for each="{farbbands}" as="farbband">
			<tr>
				<td>{farbband.etikettenmaterial.name}</td>
				<td>{farbband.farbe.name}</td>
				<td>{farbband.groesse.name}</td>
				<td>{farbband.rollepack}</td>
				<td>{farbband.bemerkungen}</td>
				<td>{farbband.artikelnummer}</td>
			</tr>
		</f:for>
	</table>
</f:section>
