<f:layout name="Default" />
<f:section name="main">
	<script type="text/javascript" languange="Javascript">
		function changer2() {
			//document.getElementById("select4").selectedIndex = 0;
			if (document.getElementById("select5")) {
				document.getElementById("select5").selectedIndex = 0;
			}
			if (document.getElementById("select6")) {
				document.getElementById("select6").selectedIndex = 0;
			}
			if (document.getElementById("select7")) {
				document.getElementById("select7").selectedIndex = 0;
			}
			if (document.getElementById("select8")) {
				document.getElementById("select8").selectedIndex = 0;
			}

		}
		$(document).ready(function() {
			$('#myTab li').on("click", function() {
				var id = $(this).attr('class').split(" ")[0];
				$("#" + id).find("form").each(function() {
					var actiion = $(this).attr("action");
					// var action1 = actiion.split("#");
					var newaction = actiion + '#' + id;
					$(this).attr("action", newaction);
				});
			});
		});
	</script>


<div class="tx-adesextension1 ades-search">
	<div class="container-fluid">


	<f:flashMessages renderMode="div" />

	<div class="moreinfo"><span>
	<f:format.html>{zusatzinfo}</f:format.html>
</span>
	</div>
	<f:form action="list" controller="Etikette" name="suchetikette" noCache="1">



		<!-- <h2>Druckverfahren</h2>
<h2><strong>{uniquedruck.0}</strong></h2><br> -->
		<h2>Grösse (BxH)</h2>
		<f:form.select id="select6" name="Filtergroesse" options="{uniquegroesse}" prependOptionLabel="Alle" value="{savedvalue.etikette.Filtergroesse}" />
		<h2>Farbe</h2>
		<f:form.select id="select8" name="Filtercolor" options="{uniquecolors}" prependOptionLabel="Alle" value="{savedvalue.etikette.Filtercolor}" />
		<h2>Klebstoff</h2>
		<f:form.select id="select7" name="Filterklebstoff" options="{uniqueklebstoff}" prependOptionLabel="Alle" value="{savedvalue.etikette.Filterklebstoff}" />
		<!-- <h2>Kern</h2>
<f:form.select  name="Filterkern" options="{uniquekern}" prependOptionLabel="Alle" value="{savedvalue.etikette.Filterkern}"/>

<h2>Material</h2>
<f:form.select id="select5" name="Filtermaterial" options="{uniquematerial}" prependOptionLabel="Alle" value="{savedvalue.etikette.Filtermaterial}"/> -->

		<f:if condition="{showArtNoField}">
			<p>oder Suche nach</p>
			<h2>Artikelnummer</h2>
			<f:form.textfield name="artikelnummer" value="{savedvalue.etikette.artikelnummer}" />
		</f:if>

		<br><br>
		<f:form.button type="submit">Anzeigen</f:form.button>
		<f:form.button type="button" onclick="changer2()">Auswahl-Reset</f:form.button>
	</f:form>
</div>
</div>

	<f:if condition="{savedvalue.etikette}">
		<f:then>
			<f:if condition="{etikettes.0.artikelnummer}">
				<f:then>
					<table class="tx_adesextension1">
						<tr>
							<!--  <th>Druckverfahren</th> -->
							<th>Grösse</th>
							<th>Farbe</th>

							<th>Klebstoff</th>

							<th>Etik./Rolle</th>
							<th>Kern</th>
							<th>Material</th>
							<th>Farbband</th>
							<th>Bemerkungen</th>
							<th>Art.-Nr.</th>
						</tr>
						<f:for each="{etikettes_1}" as="etikette">
							<tr>
								<td>{etikette.groesse.groesse}</td>

								<td>{etikette.etikettenfarbe.name}</td>

								<td>{etikette.klebstoff.name}</td>

								<td>{etikette.etikettenrolle}</td>
								<td>{etikette.kern.kern}</td>

								<td><a style="color: #003399;text-decoration: none;" href="{etikette.material.fileinfo.publicUrl}" target="_blank" title="{etikette.material.name}">{etikette.material.name}</a></td>
								<td>{etikette.farbbandtyp}</td>
								<td>{etikette.bemerkungen}</td>
								<td>{etikette.artikelnummer}</td>
							</tr>
						</f:for>
					</table>
				</f:then>
				<f:else>
					<p><span class="nachr1">Die eingegebene Artikelnummer passt nicht zu diesem Druckermodell.</span></p>
					<p><span class="nachr2">Leider sind keine Etiketten mit den gewünschten Kriterien vorhanden. Bitte ändern sie Ihre Suchanfrage.</span></p>
				</f:else>
			</f:if>
		</f:then>
	</f:if>
</f:section>
